{% extends 'base.html.twig' %}

{% block title %}Adoptez nous!{% endblock %}

{% block body %}
    <div class="row">
    {% for animal in animaux %}
        <div class="col-2">
            <div class="thumbnail">
                <a href="{{ path('showOneAnimaux', {id: animal.id}) }}">
                    <img src="/images/animaux/{{animal.id}}.jpg" alt="{{animal.nom}}" style="width:100%">
                    <div class="caption">
                        <p>{{ animal.nom }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
