{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
  <div class="row">
    <div class="col text-center">
      <a href="/showBoutiquesNourritures">
      <img src="/images/boutiques/1.jpg" style="width:50%"/><br/>
      Nourritures</a>
    </div>
    <div class="col text-center">
      <a href="/showBoutiquesAccessoires">
      <img src="/images/boutiques/2.jpg" style="width:50%"/><br/>
      Accessoires</a>
    </div>
    <div class="col text-center">
      <a href="/showBoutiquesProduits">
      <img src="/images/boutiques/6.jpg" style="width:50%"/><br/>
      Jouer</a>
    </div>
  </div>
{% endblock %}
